section.you-may-interest {
  display: flex;
  flex-direction: column; }
  section.you-may-interest .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    section.you-may-interest .title p {
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #282828;
      margin: 0 0 20px; }
    section.you-may-interest .title span {
      font-weight: 700;
      font-size: 45px;
      line-height: 50px;
      text-transform: uppercase;
      color: #282828;
      margin: 0; }
  section.you-may-interest .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 88px; }
    section.you-may-interest .grid .elem {
      display: flex;
      flex-direction: column; }
      section.you-may-interest .grid .elem .image {
        width: 100%;
        height: auto;
        max-height: 360px; }
        section.you-may-interest .grid .elem .image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.you-may-interest .grid .elem .text {
        margin-top: -80px;
        margin-left: 88px;
        display: flex;
        flex-direction: column;
        background: #F6F6F6;
        padding: 25px 5px 20px 30px; }
        section.you-may-interest .grid .elem .text .name {
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #282828;
          margin: 0 0 10px; }
        section.you-may-interest .grid .elem .text .title {
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          text-transform: uppercase;
          color: #282828;
          margin: 0; }
        section.you-may-interest .grid .elem .text a {
          font-size: 14px;
          line-height: 28px;
          color: #000;
          margin: 0;
          text-decoration: none;
          padding-right: 46px; }
  section.you-may-interest .btn {
    align-self: center;
    margin-bottom: 175px; }
