section.about-us {
  display: flex;
  align-items: center;
  margin-bottom: 195px; }
  section.about-us .left-side {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 910px;
    padding: 110px 80px 120px 0;
    box-sizing: border-box; }
    section.about-us .left-side:after {
      content: '';
      width: calc(((100vw - 1280px) / 2) + 100%);
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: url("../img/white-shadow.png") center center/cover no-repeat;
      z-index: -1; }
      @media (max-width: 1200px) {
        section.about-us .left-side:after {
          width: calc(((100vw - 930px) / 2) + 100%); } }
      @media (max-width: 920px) {
        section.about-us .left-side:after {
          width: 75vw; } }
    section.about-us .left-side:before {
      content: '';
      width: calc(((100vw - 1280px) / 2) + 100%);
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      background: linear-gradient(315.39deg, #F2F2F2 2.48%, #FFFFFF 98.88%); }
      @media (max-width: 1200px) {
        section.about-us .left-side:before {
          width: calc(((100vw - 930px) / 2) + 100%); } }
      @media (max-width: 920px) {
        section.about-us .left-side:before {
          width: 75vw; } }
    section.about-us .left-side .name {
      margin-left: 80px;
      display: flex;
      flex-direction: column;
      margin-bottom: 42px; }
      section.about-us .left-side .name p {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #282828;
        margin: 0 0 20px; }
        @media (max-width: 1200px) {
          section.about-us .left-side .name p {
            font-size: 15px;
            line-height: 18px; } }
      section.about-us .left-side .name .title {
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        text-transform: uppercase;
        margin: 0; }
        @media (max-width: 1200px) {
          section.about-us .left-side .name .title {
            font-size: 38px;
            line-height: 42px; } }
    section.about-us .left-side .desc > * {
      margin: 0 0 10px; }
      section.about-us .left-side .desc > *:last-child {
        margin-bottom: 0; }
    section.about-us .left-side .desc p {
      font-size: 18px;
      line-height: 28px;
      color: #282828; }
  section.about-us .btn {
    max-width: calc(100% - 910px);
    margin-left: 70px; }
    @media (max-width: 1365px) {
      section.about-us .btn {
        margin-left: 30px;
        max-width: 220px; } }
    @media (max-width: 920px) {
      section.about-us .btn {
        margin-left: 15px;
        margin-right: 15px; } }
