section.our-propose {
  display: flex;
  flex-direction: column;
  margin-bottom: 185px; }
  @media (max-width: 920px) {
    section.our-propose {
      margin-bottom: 70px; } }
  section.our-propose .title {
    margin-bottom: 55px;
    margin-left: 80px; }
    section.our-propose .title p {
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin: 0 0 20px; }
    section.our-propose .title span {
      display: block;
      max-width: 700px;
      font-weight: 700;
      font-size: 45px;
      line-height: 50px;
      text-transform: uppercase;
      margin: 0; }
  section.our-propose .grid .btn {
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    margin: auto;
    height: max-content; }
