section.info-about-us {
  position: relative;
  margin-bottom: 220px; }
  @media (max-width: 420px) {
    section.info-about-us {
      margin-bottom: 55px; } }
  section.info-about-us:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10%;
    width: 110%;
    height: 170%;
    margin: auto;
    background: url("../img/abut-us-info-img.png") center center/100% 100%;
    transform: rotate(1.55deg); }
  section.info-about-us .container {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767px) {
      section.info-about-us .container {
        flex-direction: column;
        align-items: flex-start; } }
    section.info-about-us .container .count {
      display: flex;
      flex-direction: column;
      padding-right: 45px;
      margin-right: 35px;
      position: relative; }
      @media (max-width: 820px) {
        section.info-about-us .container .count {
          padding-right: 20px;
          margin-right: 15px; } }
      @media (max-width: 767px) {
        section.info-about-us .container .count {
          align-items: flex-start;
          margin-right: 0;
          padding-right: 0;
          margin-bottom: 40px; } }
      section.info-about-us .container .count:after {
        content: '';
        height: 100%;
        width: 3px;
        position: absolute;
        top: 0;
        right: 0;
        background: #b8b8b8; }
        @media (max-width: 767px) {
          section.info-about-us .container .count:after {
            content: none; } }
      section.info-about-us .container .count:last-child {
        padding-right: 0;
        margin-right: 0; }
        @media (max-width: 767px) {
          section.info-about-us .container .count:last-child {
            margin-bottom: 0; } }
        section.info-about-us .container .count:last-child:after {
          content: none; }
      section.info-about-us .container .count .number {
        font-weight: 700;
        font-size: 120px;
        line-height: 120px;
        text-transform: uppercase;
        color: #00a759;
        display: block;
        width: 275px;
        box-sizing: border-box;
        text-align: center; }
        @media (max-width: 1365px) {
          section.info-about-us .container .count .number {
            width: 175px;
            font-size: 78px;
            line-height: 78px; } }
        @media (max-width: 980px) {
          section.info-about-us .container .count .number {
            width: 140px;
            font-size: 58px;
            line-height: 58px; } }
        @media (max-width: 767px) {
          section.info-about-us .container .count .number {
            width: 195px;
            font-size: 78px;
            line-height: 78px;
            text-align: left; } }
        @media (max-width: 420px) {
          section.info-about-us .container .count .number {
            width: 160px;
            font-size: 75px;
            line-height: 75px; } }
      section.info-about-us .container .count p {
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        align-self: flex-end;
        margin: 0;
        color: #282828; }
        @media (max-width: 980px) {
          section.info-about-us .container .count p {
            font-size: 15px;
            line-height: 18px; } }
        @media (max-width: 767px) {
          section.info-about-us .container .count p {
            font-size: 18px;
            line-height: 21px;
            max-width: 175px;
            text-align: right; } }
        @media (max-width: 420px) {
          section.info-about-us .container .count p {
            font-size: 15px;
            line-height: 18px;
            max-width: 165px; } }
