section.news {
  display: flex;
  flex-direction: column; }
  section.news .links {
    padding: 0;
    margin: 0 0 33px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      section.news .links {
        margin-bottom: 15px; } }
    section.news .links li {
      font-size: 18px;
      line-height: 25px;
      color: #282828;
      margin: 0 40px 15px 0; }
      @media (max-width: 767px) {
        section.news .links li {
          font-size: 15px;
          line-height: 18px; } }
      section.news .links li a {
        text-decoration: inherit;
        color: inherit; }
  section.news .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 88px; }
    @media (max-width: 767px) {
      section.news .grid {
        grid-template-columns: 1fr; } }
    section.news .grid .elem {
      display: flex;
      flex-direction: column; }
      section.news .grid .elem .image {
        width: 100%;
        height: auto;
        max-height: 360px; }
        section.news .grid .elem .image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      section.news .grid .elem .text {
        margin-top: -80px;
        margin-left: 88px;
        display: flex;
        flex-direction: column;
        background: #F6F6F6;
        padding: 25px 5px 20px 30px; }
        @media (max-width: 920px) {
          section.news .grid .elem .text {
            margin-left: 15px;
            margin-top: -30px;
            padding: 25px 5px 25px 15px;
            box-sizing: border-box; } }
        @media (max-width: 767px) {
          section.news .grid .elem .text {
            width: calc(100% - 15px); } }
        section.news .grid .elem .text .name {
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #282828;
          margin: 0 0 10px; }
          @media (max-width: 767px) {
            section.news .grid .elem .text .name {
              font-size: 13px;
              line-height: 16px; } }
        section.news .grid .elem .text .title {
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          text-transform: uppercase;
          color: #282828;
          margin: 0; }
          @media (max-width: 1365px) {
            section.news .grid .elem .text .title {
              font-size: 21px;
              line-height: 24px; } }
          @media (max-width: 767px) {
            section.news .grid .elem .text .title {
              font-size: 25px;
              line-height: 28px; } }
          @media (max-width: 360px) {
            section.news .grid .elem .text .title {
              font-size: 21px;
              line-height: 24px; } }
        section.news .grid .elem .text a {
          font-size: 14px;
          line-height: 28px;
          color: #000;
          margin: 0;
          text-decoration: none;
          padding-right: 46px;
          align-self: flex-end;
          position: relative; }
          section.news .grid .elem .text a:after {
            content: '';
            width: 33px;
            height: 11px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: url("../img/svg/arrow-green.svg") center center/100% 100% no-repeat; }
  section.news .btn {
    align-self: center;
    margin-bottom: 175px; }
