section.our-propose
  display: flex
  flex-direction: column
  margin-bottom: 185px
  @media (max-width: 920px)
    margin-bottom: 70px
  .title
    margin-bottom: 55px
    margin-left: 80px
    p
      font-size: 18px
      line-height: 22px
      text-transform: uppercase
      margin: 0 0 20px
    span
      display: block
      max-width: 700px
      font-weight: 700
      font-size: 45px
      line-height: 50px
      text-transform: uppercase
      margin: 0
  .grid
    .btn
      position: absolute
      top: 0
      bottom: 40px
      left: 0
      margin: auto
      height: max-content