@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/manrope/Manropesemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/manrope/Manropemedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/manrope/Manropethin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/manrope/Manropelight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/manrope/Manroperegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/manrope/Manropebold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: none; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1024px; } }
  @media (min-width: 1366px) {
    .container {
      max-width: 1300px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }
  .container-fluid .container {
    padding-right: 0;
    padding-left: 0; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  display: flex;
  font-family: Montserrat;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  color: #282828; }
  body.hidden {
    max-height: 100vh;
    overflow: hidden; }
  body * {
    -webkit-tap-highlight-color: transparent; }
  body main {
    flex: 1; }

img {
  width: 100%;
  height: auto; }

.btn {
  padding-right: 125px;
  max-width: 220px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #00a759;
  position: relative;
  text-decoration: none; }
  @media (max-width: 576px) {
    .btn {
      padding-right: 90px;
      max-width: 160px;
      font-size: 15px;
      line-height: 18px; } }
  .btn:hover:after {
    animation: .7s linear infinite alternate scale; }
  .btn:hover:before {
    animation: .7s linear .7s infinite alternate moveIn; }
  .btn:after {
    content: '';
    width: 95px;
    height: 95px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("../img/svg/btn-elipse.svg") center center/100% 100% no-repeat; }
    @media (max-width: 576px) {
      .btn:after {
        width: 60px;
        height: 60px; } }
  .btn:before {
    content: '';
    width: 57px;
    height: 18px;
    position: absolute;
    right: 59px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../img/svg/arrow-green.svg") center center/100% 100% no-repeat; }
    @media (max-width: 576px) {
      .btn:before {
        width: 36px;
        height: 12px;
        right: 40px; } }

@keyframes scale {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.9); } }

@keyframes moveIn {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(20%); } }

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(46, 46, 46, 0.6);
  z-index: 10;
  display: none; }
  .wrapper.active {
    display: block; }
  .wrapper .popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: max-content;
    max-width: calc(100vw - 30px);
    height: max-content;
    max-height: calc(100vh - 30px);
    z-index: 11;
    padding: 75px 135px 95px;
    background: #fff;
    box-sizing: border-box;
    display: none; }
    @media (max-width: 767px) {
      .wrapper .popup {
        padding: 25px 50px 45px; } }
    @media (max-width: 576px) {
      .wrapper .popup {
        padding: 15px; } }
    .wrapper .popup.active {
      display: flex; }
    .wrapper .popup .close {
      position: absolute;
      top: 50px;
      right: 50px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      background: url("../img/svg/close.svg") center center/100% 100% no-repeat; }
      @media (max-width: 767px) {
        .wrapper .popup .close {
          top: 20px;
          right: 20px;
          width: 15px;
          height: 15px; } }

header.container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 35px;
  height: 55px;
  z-index: 3;
  position: static; }
  @media (max-width: 790px) {
    header.container {
      position: relative;
      align-items: center; } }
  header.container:after {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    width: 49%;
    height: 83px;
    background: url("../img/header_BG.png") center center/100% 100% no-repeat;
    z-index: -1; }
    @media (max-width: 1024px) {
      header.container:after {
        content: none; } }
  header.container .logo {
    display: flex;
    align-items: center; }
    header.container .logo .image {
      width: 202px;
      height: 54px;
      margin-right: 22px;
      position: relative; }
      @media (max-width: 1200px) {
        header.container .logo .image {
          width: 160px;
          height: 44px; } }
      @media (max-width: 920px) {
        header.container .logo .image {
          width: 120px; } }
      @media (max-width: 576px) {
        header.container .logo .image {
          width: 108px;
          height: 27px;
          margin-right: 10px; } }
      header.container .logo .image:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #dd2b1c;
        border: 2px solid #ffffff;
        position: absolute;
        top: 0;
        left: 17px;
        right: 0;
        margin: auto;
        border-radius: 50px;
        animation: .7s linear infinite alternate bounce; }
        @media (max-width: 1200px) {
          header.container .logo .image:before {
            left: 13px;
            width: 7px;
            height: 7px; } }
        @media (max-width: 576px) {
          header.container .logo .image:before {
            width: 4px;
            height: 4px;
            left: 7px; } }
    header.container .logo p {
      margin: 0;
      max-width: 190px;
      font-family: 'Manrope';
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase; }
      @media (max-width: 920px) {
        header.container .logo p {
          font-size: 10px;
          line-height: 14px;
          max-width: 160px; } }
      @media (max-width: 480px) {
        header.container .logo p {
          font-size: 8px;
          line-height: 12px;
          max-width: 140px; } }
  header.container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100%;
    margin-left: 15px; }
    @media (max-width: 790px) {
      header.container nav {
        flex-direction: column-reverse;
        position: absolute;
        top: 100%;
        right: 15px;
        width: 50vw;
        min-width: 245px;
        max-width: 100vw;
        background: #fff;
        overflow: hidden;
        box-shadow: 0 0 10px #EFEFEF;
        padding: 15px 10px;
        opacity: 0;
        user-select: none;
        pointer-events: none; }
        header.container nav.active {
          opacity: 1;
          user-select: auto;
          pointer-events: auto; } }
    @media (max-width: 576px) {
      header.container nav {
        right: 0;
        left: 0;
        margin: auto; } }
    header.container nav ul {
      margin: 0;
      list-style: none; }
    header.container nav > .langs {
      display: flex;
      padding: 0;
      margin-right: 105px; }
      @media (max-width: 1365px) {
        header.container nav > .langs {
          margin-right: 40px; } }
      @media (max-width: 790px) {
        header.container nav > .langs {
          width: 100%;
          margin: 0;
          padding-top: 10px;
          justify-content: center;
          border-top: 1px solid #C4C4C4; } }
      header.container nav > .langs li {
        font-size: 15px;
        line-height: 21px;
        color: #000;
        margin-right: 15px; }
        @media (max-width: 1365px) {
          header.container nav > .langs li {
            font-size: 12px;
            line-height: 18px; } }
        @media (max-width: 790px) {
          header.container nav > .langs li {
            font-size: 18px;
            line-height: 24px; } }
        header.container nav > .langs li:last-child {
          margin-right: 0; }
        header.container nav > .langs li.current {
          font-size: 18px;
          font-weight: 700; }
          @media (max-width: 1365px) {
            header.container nav > .langs li.current {
              font-size: 15px; } }
          @media (max-width: 790px) {
            header.container nav > .langs li.current {
              font-size: 21px; } }
        header.container nav > .langs li a {
          color: inherit;
          text-decoration: inherit; }
          @media (max-width: 790px) {
            header.container nav > .langs li a {
              width: max-content; } }
    header.container nav > .links {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      padding-left: 0; }
      @media (max-width: 790px) {
        header.container nav > .links {
          position: relative;
          left: 0;
          flex-direction: column;
          width: 100%;
          transition: left .3s;
          padding: 10px 0 20px; } }
      header.container nav > .links > li {
        margin-right: 30px; }
        @media (max-width: 1365px) {
          header.container nav > .links > li {
            margin-right: 20px; } }
        @media (max-width: 1200px) {
          header.container nav > .links > li {
            margin-right: 10px; } }
        @media (max-width: 790px) {
          header.container nav > .links > li {
            margin-right: 0;
            margin-bottom: 15px;
            width: 100%;
            text-align: center; } }
        header.container nav > .links > li.current > a {
          position: relative; }
          header.container nav > .links > li.current > a:before {
            content: '';
            width: 100%;
            height: 3px;
            background: #00a759;
            position: absolute;
            bottom: calc(100% + 6px);
            left: 0; }
        header.container nav > .links > li a {
          font-size: 18px;
          line-height: 22px;
          color: #282828;
          margin: 0;
          text-decoration: none; }
          @media (max-width: 1365px) {
            header.container nav > .links > li a {
              font-size: 15px;
              line-height: 18px; } }
          @media (max-width: 920px) {
            header.container nav > .links > li a {
              font-size: 12px;
              line-height: 14px; } }
          @media (max-width: 790px) {
            header.container nav > .links > li a {
              font-size: 18px;
              line-height: 22px; } }
    header.container nav .has_child {
      position: relative; }
      @media (max-width: 790px) {
        header.container nav .has_child {
          position: static; } }
      header.container nav .has_child > ul {
        display: block;
        opacity: 0;
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px 0 20px;
        width: max-content;
        max-width: max-content;
        flex-direction: column;
        background: #fff;
        min-width: 245px;
        box-shadow: 0 0 10px #EFEFEF; }
        @media (max-width: 1365px) {
          header.container nav .has_child > ul {
            min-width: 180px; } }
        @media (max-width: 1200px) {
          header.container nav .has_child > ul {
            min-width: 120px; } }
        @media (max-width: 790px) {
          header.container nav .has_child > ul {
            box-shadow: none;
            padding: 0; } }
        header.container nav .has_child > ul li {
          padding: 5px 25px; }
          header.container nav .has_child > ul li a {
            font-size: 15px;
            line-height: 18px; }
            @media (max-width: 1200px) {
              header.container nav .has_child > ul li a {
                font-size: 12px;
                line-height: 15px; } }
        header.container nav .has_child > ul .has_child > ul {
          top: -10px;
          left: 100%; }
          @media (max-width: 790px) {
            header.container nav .has_child > ul .has_child > ul {
              top: 0; } }
          header.container nav .has_child > ul .has_child > ul.reverse {
            left: auto;
            right: 100%; }
    @media (min-width: 791px) {
      header.container nav ul .has_child:hover > ul {
        opacity: 1;
        user-select: auto;
        pointer-events: auto; }
      header.container nav ul .has_child li:hover > a {
        z-index: 1; }
        header.container nav ul .has_child li:hover > a span {
          position: relative; }
          header.container nav ul .has_child li:hover > a span:after {
            content: '';
            width: 100%;
            height: 2px;
            background: #00a759;
            position: absolute;
            top: 0;
            left: 0; } }
    @media (max-width: 790px) {
      header.container nav .has_child ul {
        top: 0;
        margin: auto;
        background: #fff;
        width: 50vw;
        min-width: 245px;
        max-width: 100vw;
        position: absolute;
        left: 100%;
        z-index: 1;
        opacity: 1;
        user-select: auto;
        pointer-events: auto; }
        header.container nav .has_child ul .back-btn {
          font-size: 13px;
          line-height: 15px;
          padding-left: 53px;
          box-sizing: border-box;
          position: relative;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          margin-bottom: 10px; }
          header.container nav .has_child ul .back-btn:before {
            content: '';
            width: 27px;
            height: 9px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background: url("../img/svg/arrow-back.svg") center center/100% 100% no-repeat; } }
  header.container .burger {
    display: none;
    width: 34px;
    height: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    left: 0; }
    header.container .burger span {
      width: 100%;
      height: 2px;
      background: #000;
      display: block;
      transition: width .3s; }
      header.container .burger span:before {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        background: #000;
        transition: transform .3s, top .3s; }
      header.container .burger span:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #000;
        transition: transform .3s, bottom .3s; }
    @media (max-width: 790px) {
      header.container .burger {
        display: flex; }
        header.container .burger.active span {
          width: 0; }
          header.container .burger.active span:before {
            transform: rotate(45deg);
            top: calc(50% - 1px); }
          header.container .burger.active span:after {
            transform: rotate(-45deg);
            bottom: calc(50% - 1px); } }

@keyframes bounce {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-8px); } }

footer {
  padding: 65px 0 18px;
  background: #F8F8F8; }
  footer .container {
    display: grid;
    grid-template-areas: "logo links politics" "upbtn upbtn upbtn";
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 920px) {
      footer .container {
        grid-template-areas: 'links links' 'upbtn upbtn' 'logo politics'; } }
    footer .container .logo {
      grid-area: logo;
      width: 202px;
      height: 54px;
      margin-right: 22px;
      position: relative; }
      @media (max-width: 1200px) {
        footer .container .logo {
          width: 150px;
          height: 40px; } }
      @media (max-width: 576px) {
        footer .container .logo {
          width: 120px;
          height: 30px; } }
      footer .container .logo:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #dd2b1c;
        border: 2px solid #ffffff;
        position: absolute;
        top: 0;
        left: 17px;
        right: 0;
        margin: auto;
        border-radius: 50px;
        animation: .7s linear infinite alternate bounce; }
        @media (max-width: 576px) {
          footer .container .logo:before {
            width: 4px;
            height: 4px;
            left: 9px; } }
    footer .container .links {
      grid-area: links;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center; }
      footer .container .links ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none; }
        @media (max-width: 576px) {
          footer .container .links ul {
            flex-wrap: wrap;
            justify-content: center; } }
        footer .container .links ul li {
          font-size: 18px;
          line-height: 22px;
          color: #282828;
          margin-right: 45px; }
          @media (max-width: 1365px) {
            footer .container .links ul li {
              margin-right: 25px; } }
          @media (max-width: 1200px) {
            footer .container .links ul li {
              font-size: 15px;
              line-height: 18px;
              margin-right: 15px; } }
          @media (max-width: 576px) {
            footer .container .links ul li {
              text-align: center;
              margin-right: 20px;
              font-size: 13px;
              line-height: 15px;
              margin-bottom: 10px; } }
          footer .container .links ul li:last-child {
            margin-right: 0; }
          footer .container .links ul li a {
            color: inherit;
            text-decoration: inherit; }
    footer .container .politics {
      grid-area: politics;
      display: flex;
      flex-direction: column;
      color: #282828;
      font-size: 13px;
      line-height: 16px; }
      @media (max-width: 576px) {
        footer .container .politics {
          font-size: 8px;
          line-height: 13px;
          text-align: right; } }
      footer .container .politics p {
        margin: 0 0 3px; }
      footer .container .politics a {
        color: inherit; }
    footer .container > a {
      grid-area: upbtn;
      font-size: 14px;
      line-height: 17px;
      color: #282828;
      padding-left: 13px;
      position: relative;
      text-decoration: none;
      margin: 35px auto 0; }
      @media (max-width: 920px) {
        footer .container > a {
          margin-bottom: 15px; } }
      @media (max-width: 576px) {
        footer .container > a {
          margin-bottom: 40px;
          margin-top: 15px; } }
      footer .container > a:before {
        content: '';
        width: 11px;
        height: 11px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url("../img/svg/up-arrow.svg") center center/100% 100% no-repeat; }

.news-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  grid-auto-rows: 1fr;
  grid-row-gap: 30px;
  grid-auto-flow: dense; }
  @media (max-width: 920px) {
    .news-grid {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 767px) {
    .news-grid {
      grid-template-columns: 1fr;
      grid-auto-rows: auto; } }
  .news-grid .block {
    display: flex;
    flex-direction: column;
    position: relative; }
    .news-grid .block a {
      text-decoration: inherit;
      color: inherit; }
    @media (min-width: 768px) {
      .news-grid .block:nth-child(6n - 4):not(.big) {
        margin-top: 40px; }
      .news-grid .block:nth-child(6n):not(.big) {
        margin-top: 40px; }
      .news-grid .block:nth-child(6n - 2):not(.big) {
        margin-top: 20px; } }
    .news-grid .block .image {
      width: 100%;
      position: relative;
      margin-bottom: 23px; }
      .news-grid .block .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .news-grid .block .text {
      text-decoration: none;
      margin: 0 0 0 20px;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #282828; }
  .news-grid .big {
    grid-column-end: span 3; }
    @media (max-width: 920px) {
      .news-grid .big {
        grid-column-end: span 2; } }
    @media (max-width: 767px) {
      .news-grid .big {
        grid-column-end: span 1; } }
    .news-grid .big .image {
      height: 330px; }
  .news-grid .small {
    grid-column-end: span 2; }
    @media (max-width: 920px) {
      .news-grid .small {
        grid-column-end: span 1; } }
    .news-grid .small .image {
      height: 250px; }
      @media (max-width: 767px) {
        .news-grid .small .image {
          height: 330px; } }

section.contacts {
  background: #F7F7F7; }
  section.contacts .container {
    display: grid;
    position: static;
    grid-template-columns: 60% 40%; }
    @media (max-width: 1365px) {
      section.contacts .container {
        grid-template-columns: 70% 30%; } }
    @media (max-width: 767px) {
      section.contacts .container {
        grid-template-columns: 1fr; } }
    section.contacts .container .text {
      padding-top: 90px;
      padding-right: 20px;
      box-sizing: border-box; }
      @media (max-width: 767px) {
        section.contacts .container .text {
          padding-right: 0;
          padding-top: 45px;
          padding-bottom: 153px;
          position: relative; } }
      section.contacts .container .text .title {
        margin: 0 0 40px 80px;
        display: flex;
        flex-direction: column; }
        @media (max-width: 1200px) {
          section.contacts .container .text .title {
            margin-left: 40px; } }
        @media (max-width: 576px) {
          section.contacts .container .text .title {
            margin-left: 0;
            margin-bottom: 20px; } }
        section.contacts .container .text .title p {
          font-size: 18px;
          line-height: 25px;
          text-transform: uppercase;
          color: #282828;
          margin: 0 0 16px; }
          @media (max-width: 576px) {
            section.contacts .container .text .title p {
              font-size: 15px;
              line-height: 18px;
              margin-bottom: 8px; } }
        section.contacts .container .text .title span {
          display: block;
          font-weight: 700;
          font-size: 50px;
          line-height: 50px;
          text-transform: uppercase;
          color: #282828; }
          @media (max-width: 940px) {
            section.contacts .container .text .title span {
              font-size: 40px;
              line-height: 40px; } }
          @media (max-width: 576px) {
            section.contacts .container .text .title span {
              font-size: 31px;
              line-height: 31px; } }
      section.contacts .container .text .desc {
        font-size: 18px;
        line-height: 28px;
        color: #282828;
        margin: 0 0 45px; }
        @media (max-width: 576px) {
          section.contacts .container .text .desc {
            font-size: 15px;
            line-height: 18px; } }
      section.contacts .container .text .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; }
        @media (max-width: 767px) {
          section.contacts .container .text .info {
            position: static; } }
        section.contacts .container .text .info form {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 370px; }
          @media (max-width: 920px) {
            section.contacts .container .text .info form {
              max-width: 300px; } }
          @media (max-width: 767px) {
            section.contacts .container .text .info form {
              max-width: none; } }
          section.contacts .container .text .info form label {
            margin-bottom: 30px; }
            section.contacts .container .text .info form label:last-child {
              margin-bottom: 0; }
          section.contacts .container .text .info form label:not(.custom-checkbox) {
            width: 100%;
            display: flex;
            flex-direction: column; }
            section.contacts .container .text .info form label:not(.custom-checkbox) input {
              width: 100%;
              font-size: 18px;
              line-height: 22px;
              color: #282828;
              padding: 3px 20px;
              border: solid #00A759;
              border-width: 0 0 1px 0;
              background: transparent; }
              @media (max-width: 767px) {
                section.contacts .container .text .info form label:not(.custom-checkbox) input {
                  box-sizing: border-box; } }
              @media (max-width: 576px) {
                section.contacts .container .text .info form label:not(.custom-checkbox) input {
                  font-size: 13px; } }
          section.contacts .container .text .info form .custom-checkbox {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            font-size: 12px;
            line-height: 14px;
            color: #857a7a;
            user-select: none; }
            section.contacts .container .text .info form .custom-checkbox input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0; }
              section.contacts .container .text .info form .custom-checkbox input:hover ~ span {
                background-color: rgba(0, 167, 89, 0.4); }
              section.contacts .container .text .info form .custom-checkbox input:checked ~ span {
                background-color: #00A759; }
                section.contacts .container .text .info form .custom-checkbox input:checked ~ span:after {
                  display: block; }
            section.contacts .container .text .info form .custom-checkbox span {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              height: 11px;
              width: 11px;
              border: 1px solid #00a759; }
        section.contacts .container .text .info .call-btn {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 164px;
          height: 164px;
          border-radius: 50%;
          background: url("../img/svg/phone.svg") center center/67px 67px no-repeat; }
          @media (max-width: 920px) {
            section.contacts .container .text .info .call-btn {
              width: 120px;
              height: 120px; } }
          @media (max-width: 767px) {
            section.contacts .container .text .info .call-btn {
              top: auto;
              bottom: 25px; } }
          section.contacts .container .text .info .call-btn:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background: url("../img/circle-text.png") center center/100% 100% no-repeat;
            animation: 12s linear infinite rotate; }
    section.contacts .container .right-side {
      position: relative;
      height: 100%; }
      @media (max-width: 767px) {
        section.contacts .container .right-side {
          height: 400px; } }
      section.contacts .container .right-side .image {
        width: calc(100vw / 2);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
        @media (max-width: 767px) {
          section.contacts .container .right-side .image {
            width: 100%; } }
        section.contacts .container .right-side .image img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center right; }
